:root {
  --Gray-Scale-Gray-500: #6b7280;
  --Gray-Scale-White: #fff;
  --Gren-Gray-Scale-900: #002603;
  --Branding-Success: #00b207;
  --Gray-Scale-Gray-400: #999;
  --Gray-Scale-Gray-100: #e5e5e5;
  --Gray-Scale-Gray-900: #1a1a1a;
  --Gray-Scale-Gray-800: #333;
  --Branding-Success-Dark: #2c742f;
  --Gren-Gray-Scale-50: #edf2ee;
  --Branding-Warning: #ff8a00;
}
